body{
	background: #2456
}
h2{
	color: green
}
ul{
	margin: 0;
	padding: 0;
	background: blue;
	overflow:hidden;
}
ul li{
	float: left;
	list-style-type: none;
}
ul li a{
	color: white;
	text-transform: capitalize;
	padding: 16px 16px;
	display: inline-block;
}
ul li a:hover{
	background: red;
}

.dropdown-content{
	background: #f9f9f9;
	display: none;
	position: absolute;
	min-width: 200px;
}	
.dropdown-content a{
	display: block;
	color: #333;

}
.dropdown-content a:hover{
	background: black;
	color: white;
}
.dropdown:hover .dropdown-content{
display: block;
}


.dropdown-class-content{
	background: #f9f9f9;
	display: none;
	position: absolute;
	min-width: 200px;
}	
.dropdown-class-content a{
	display: block;
	color: #333;

}
.dropdown-class-content a:hover{
	background: black;
	color: white;
}
.dropdown-class:hover .dropdown-class-content{
display: block;
}
.home-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#sidebar-left{
float:left;
width:80%;
}
#sidebar-right{
float:left;
width:200px;
padding: 5px;
text-align:center;
background-color: white;
margin-left: 5px;
}
#sidebar-right img{
 height: 150px;
 width: 150px;
}

#footer{
  clear: both;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;}

